
<footer class="container well">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6" style="text-align:center;">
            <p>©2025 - Nhà sách TASK. Allright Reserved</p>
            <p>
                Website được phát triển để sử dụng làm bài tập thực hành môn Công nghệ phần mềm
            </p>
            <p>Email: TuAnhSonKiet@gmail.com</p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-9 col-xs-6 foot">
            <h5 style="color:red">Số lượt truy cập: @ApplicationInstance.Application["TotalVisits"]</h5>
            <h5 style="color:red">Số người online: @ApplicationInstance.Application["OnlineUsers"]</h5>
        </div>
    </div>

</footer>